body {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    padding: .75em;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.container {
    width: 640px;
    margin: 0 auto;
}

.game-board {
    background-color: lightgray;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.tile {
    width: 158px;
    height: 158px;
    border: 1px solid lightgray;
    background-color: white;
    float: left;
    transition: background-color .5s;
    padding: 20px;
    font-size: 2em;
}

.tile:hover {
    background-color: #f1f1f1;
}

.btn {
    font-weight: bold;
    padding: .25em 1em;
    border-radius: 5px;
    border: 1px solid #adca4f;
    background-color: #bada55;
    transition: background-color .5s;
}

.btn:hover {
    background-color: #adca4f;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.mr-4 {
    margin-right: 1.25em;
}

.mb-4 {
    margin-bottom: 1.25em;
}

.d-flex {
    display: flex;
}

.justify-content-start {
    justify-content: start;
}